@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  background: #e0e0e0;
}
nav{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #092635;
  color: #fff;
}
nav p{
  font-size: 2.8rem;
  font-weight: 500;
}

.choose{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 250px;
  padding: 0 20px;
  -webkit-tap-highlight-color: transparent;
  z-index: 50;
}
.choice{
  position: relative;
  background-color: #1A1C20;
  width: 20%;
  height: 200px;
  border-radius: 500%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: cover;
}
.choose img:active{
  border: 2px solid #000;
}

.count{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.count span{
  color: #1A1C20;
  font-size: 1.5rem;
  width: 100px;
  font-weight: 400;
  display: flex;
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow:  19px 19px 66px #afafaf,
             -19px -19px 66px #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.count span p{
  font-weight: 700;
  font-size: 2rem;
}

.resultbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #A6B1E1;
  box-shadow:  19px 19px 26px #afafaf,
             -19px -19px 26px #ffffff;
  color: #fff;
  margin-top: 40px;
  border-radius: 10px;
}
.resultbtn p{
  font-size: 1.2rem;
  font-weight: 500;
}

footer{
  position: fixed;
  bottom: 5px;
  text-align: center;
}
footer p{
  font-size: 1.4rem;
  font-weight: 700;
  border-bottom: 2px solid;
  margin-bottom: 5px;
}
footer i{
  font-size: 2rem;
}
.bxl-youtube{
  color: #FF1E1E;
}
.bxl-twitter{
  color: #2192FF;
}
.bxl-github{
  color: #200E3A;
}
.bxl-instagram-alt{
  color: #D800A6;
}




















@media (max-width: 1040px){
  .choice{
    width: 22%;
    height: 130px;
  }
}
@media (max-width: 500px){
  .choice{
    width: 35%;
    height: 110px;
  }
  .choose{
    padding: 5px;
    justify-content: space-between;
  }
  nav{
    height: 70px;
  }
  nav p{
    font-size: 1.8rem;
  }
  footer{
    bottom: 10px;
  }
}
@media (max-width: 321px){
  body{
    height: 100vh;
    overflow: auto;
  }
  footer{
    position: absolute;
    bottom: -50px;
    /* text-align: center; */
  }
}